* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(51, 201, 179);
    padding: 10px;
}

.todolist{
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todolist h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(23, 90, 183, 0.263);
    padding-left: 20px;
    border-radius: 30px;
    margin-bottom: 26px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: rgba(171, 118, 48, 0.629);
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(asset/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
.checked{
    color:#555;
    text-decoration: line-through;
}
.checked::before{
    background-image:url(asset/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:rgba(246, 2, 2, 0.783);
}